@font-face {
    font-family: Poppins;
    src: url(Poppins-1/Poppins-Regular.ttf);
}

.wrapper {
    margin: 0;
    padding: 0;
    color: #564E4E;

}

body {
    margin: 0;
}

.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;

}

.mainTitle {
    position: absolute;
    top: 100px;
    left: 335px;
}

.subtitle {
    position: absolute;
    top: 240px;
    left: 345px;
}

.logoHeader {
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}

.content {
    font-family: 'Poppins';
    box-sizing: content-box;

}

.BigBlock01 {
    padding: 2.5%;
    margin-top: 20px;
    font-family: 'poppins-light-regular', sans-serif;
}

.BigBlock1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
}

.imgB1 {
    width: 25%;
    height: 25%;
}

.BigBlock2 {
    margin-top: 72px;
}



.BigBlock2-1 {
    flex: 1;
}

.block1 {
    flex-basis: auto;
    flex: 1;
    padding: 10px;

}

.title01 {
    font-size: 28px;
    font-weight: 550;
    color: #564E4E;
    line-height: 60px;

}

.imgB1 {
    width: 12.5%;
    height: auto;
}

#block1 {
    border: 1px solid #FADCD9;
    box-shadow: 4px 2px 10px 2px #F7948933;
    border-radius: 7.5px;
}

#inform1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
}

.titleB1 {
    margin-top: 5px;
    margin-bottom: 9px;
    font-size: 16px;
    font-weight: 550;
    line-height: 30px;
    color: #564E4E;
}

.seemore {
    font-size: 14px;
    line-height: 28px;

    color: #F79489;
}

#moreinfo {
    font-size: 14px;
    color: #F79489;
    margin-bottom: 10px;
}

.BigBlock2 {
    font-family: 'poppins-light-regular', sans-serif;
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

}

.title02 {
    font-size: 26px;
    font-weight: 550;
    line-height: 60px;
    margin: 0;
}

.BigBlock2-1 {
    flex: 1;
}

.informB2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 10px;
}

.modern {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.plus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#BigBlock2-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
}

#bar2 {
    height: 70%;
}

.imgsubstract {
    width: 85%;
    height: auto;
}

.imgplus {
    width: 2%;
    height: auto;
}

.img5 {
    width: 100%;
    height: auto;
    border-radius: 7.5%;
}

#product {
    flex-grow: 1;
    width: 25%;
    margin-right: 15px;
}

.BigBlock3 {
    padding: 2.5%;
    font-family: 'poppins-light-regular', sans-serif;
}

.BlockContent3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

.product {
    flex: 1;
}

.titleB3 {

    font-size: 26px;
    font-weight: 550;
    line-height: 60px;
    text-align: center;
}

.productW {
    font-size: 16px;
    font-weight: 550;
    line-height: 36px;
    margin-bottom: 5px;
}

.Category {
    font-size: 14px;
    line-height: 28px;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.IDR {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;

}

.imgProduct {
    width: 95%;
    height: auto;
}

.imgHeader {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.BigBlock4 {
    background: linear-gradient(45deg, #f7f1f1, #f5e6de);
    margin-top: 80px
}

.inform4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mng {
    width: 30%
}



.BigBlock5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.imgBlock5 {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}

.title06 {
    width: 60%;
    align-items: center;
}

#imgBlock5 {
    max-width: 100%;
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
}

.footerBlock {
    padding: 10px;
    background-color: black;
    margin: 0;
}

.listFooter {
    flex-grow: 1;
}

.informBlock5 {
    color: white;
}


/* --Mobile--*/
@media only screen and (max-width: 46.1875em) {
    .content {
        align-items: center;
        padding: 10px;
    }


    .mainTitle {

        top: 75px;
        left: 150px;
    }

    .imgTitle {
        width: 229px;
        height: 54px;
    }

    .subtitle {
        width: 292px;
        height: 72px;
        top: 115px;
        left: 130px;
    }

    .img5 {
        margin: 0;
    }

    .BigBlock1 {
        flex-direction: column;
        align-items: center;
    }

    .title01 {
        display: none;
    }

    .BigBlock2 {
        align-items: center;
        padding: 10px;
        flex-direction: column-reverse;
    }

    .BigBlock2-1 {
        width: 100%;
        margin-right: 0;
    }

    .img5 {
        margin: 10px;

    }

    .block1 {
        width: 80%;
        text-align: center;
        margin: 20px 0;
    }

    .title01 {
        width: 100%;
    }

    .BlockContent2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto
    }

    .BigBlock3 {
        align-items: center;
        margin-top: 60px;
    }

    .inform4 {
        padding: 15px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .mng {
        width: 100%;
    }


    #imgBlock4 {
        margin: 50px 0 10px 0;
    }

    #imgBlock4 {
        margin: 50px 0;
    }

    .title05 {
        width: 100%;
    }

    .imgBlock5 {
        width: 100%;
        margin: 0;
    }

    .pBlock5 {
        width: 100%;
    }

    .BigBlock5 {
        flex-direction: column;
        padding: 10px;

    }

    .title06 {

        width: 100%;
    }

    .emailBar {
        width: 100%;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .listFooter {
        padding: 10px;
        width: 100%;
    }
}